allure-pytest==2.15.3
allure-python-commons==2.15.3
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
curlify==3.0.0
dnspython==2.8.0
email-validator==2.3.0
Faker==40.15.0
idna==3.11
iniconfig==2.3.0
packaging==26.1
pluggy==1.6.0
psycopg2==2.9.11
pydantic==2.13.2
pydantic_core==2.46.2
Pygments==2.20.0
pytest==9.0.3
requests==2.33.1
ruff==0.15.11
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
